#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<!--setting up page in tile format-->
      <div class="container">
         <section class="section">
             <div class="tile is-ancestor">
                 <!-- first column-->
                 <div class="tile is-vertical is-parent">
                    <div class="tile is-8>
                     <div class ="tile is-child">
                     <div class="content box">
                      <h1 class="title content has-text-centered">
                        About WeatherTop: Your Ultimate Weather Monitoring App
                        </h1>
                     </div>
                 </div>
                 <div class="is-child">
                  <div class="content box">
  <p>
    Welcome to Weather Top, your premier destination for accurate and up-to-date weather information across the captivating landscapes of Ireland.
    As a cutting-edge weather monitoring app, Weather Top empowers you with a comprehensive understanding of the ever-changing atmospheric conditions that shape our daily lives.
  </p>
                  </div>
                 </div>
                     <div class="tile is-child">
                         <div class="content box">
  <p>
    <h3 class="subTitle">Unveiling the Essence of Weather: </h3>
       Weather is the embodiment of nature's moods, an intricate dance of elements that govern our environment.
       At Weather Top, we believe that understanding the nuances of weather is not just a science, but an art that connects us with the rhythms of our planet.
      Whether it's a gentle breeze rustling through the serene Waterford countryside or the rhythmic pattering of raindrops on a Dublin street, weather paints the canvas of our experiences.
  </p>
                             </div>
                         </div>
    <div class = "tile is-12 is-vertical is-parent>
     <div class= "tile is-child">
      <div class="content box">
          <p>
    <h3 class="subTitle">Ireland's Unique Climate:</h3>
    Nestled in the heart of the Emerald Isle, Ireland boasts a temperate maritime climate that weaves a tapestry of diverse weather patterns throughout the year.
    From the misty tranquility of coastal mornings to the invigorating embrace of brisk winds sweeping through the hills, Ireland's climate is a symphony of sensations.
    Weather Top stands as your digital companion to decipher the secrets of this captivating climate, delivering insights that transcend the ordinary and bring you closer to the extraordinary.
  </p>
  <p>
    <h3 class="subTitle">Empowering Insights, Right at Your Fingertips:</h3>
   At Weather Top, we pride ourselves on delivering more than just numbers; we provide you with a window into the very essence of weather.
   Our app gathers real-time data from an extensive network of weather stations strategically positioned across Ireland.
   With a keen focus on precision, Weather Top offers you:
  </p>
  <p>
    <ul>
      <li> <strong>Temperature Tracking:</strong> Stay informed about the ambient temperature in Celsius, guiding you to dress comfortably and plan outdoor activities with confidence.</li>
      <li> <strong>Wind Speed Analysis:</strong> Whether you're navigating the stunning coastal paths or venturing into the enchanting countryside, Weather Top's wind speed data ensures you're well-prepared for the conditions that lie ahead. </li>
      <li><strong>Weather Codes Decoded:</strong> Our app deciphers the language of weather codes, allowing you to quickly grasp the prevailing atmospheric conditions. From sunny spells to misty mornings, Weather Top keeps you informed! </li>
  </ul>
  <p>
    <h3 class="subTitle"> Why Weather Top?</h3>
    Weather Top is more than just an app; it's your ticket to unlocking the wonders of Ireland's weather tapestry.
    Whether you're a curious traveler, an intrepid explorer, or a local seeking insights into the day's forecast, Weather Top's user-friendly interface and accurate data ensure you're equipped to embrace every moment, rain or shine.
    With us by your side, you'll never be caught off guard by the elements again.
    Join us on this journey as we celebrate the marvels of nature and unveil the captivating world of weather.<br>
    Experience Ireland's climate in all its splendor with Weather Top – your ultimate weather monitoring app!
  </p>
</div>
                 </div>
         </div>
      <div class="tile is-3 is-parent">
          <div class="tile is-child">
              <div class="content box">
              <figure class="image is-2by3">
                 <br>
                  <br>
                  <img class="is-rounded" src="/public/images/weather_station.jpg" alt="Weather Symbols used in WeatherTop">
                  <!--Image sourced from metro uk !-->
              </figure>
           </div>
      </div>

 </section>
</div>
</div>
<!--Text from Chat GPT -->
<!-- </div>  </main> </body>-->
