#{extends 'main.html' /}
#{set title:'Start' /}

#{menu id:"start"/}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
            <div class="content box">
    <h1 class="title">
        Welcome to Weathertop!
    </h1>
    <p>
        Weather Top is more than just an app; it's your ticket to unlocking the wonders of Ireland's weather!
   </p>
    <p>
        We're here to help you track everything from temperature, wind speed as well as weather type.
        Our easy to read dashboards are populated with data from right around Ireland to not only keep you  up to date on the lastest weather but also inform you of the conditions to aid you in planning your week, your day or even the next hour!<br>
    </p>
    <p>
        Whether you're a curious traveler, an intrepid explorer, or a local seeking insights into the day's forecast, Weather Top's user-friendly interface and accurate data ensure you're equipped to embrace every moment, rain or shine.
        With us by your side, you'll never be caught off guard by the elements again!
    </p>
    <p>
        Click on <a href="dashboard">dashboard</a> to see what the weather is like where you are.
        <!--Adapted from ChatGPT text, see appendix of rubric doc for details on prompt and response!-->
    </p>
</div>
            </div>
            <div class="column">
                <figure class="image is-4by3">
                    <img src="/public/images/weather_symbols.jpg" alt="Weather Symbols used in WeatherTop">
                    <!--Image sourced from metro uk !-->
                </figure>
            </div>
        </div>
    </div>
</section>

<!--Consider putting in two sections with additional detail at the bottom !-->
