#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<section>
<div class="content box">
  <h1 class="title">
    ${station.name}
  </h1>
  #{lastreading station:station/}
</div>
  <div class="content box">
  #{listreadings station:station/}
  </div>
</section>

<form action="/stations/${station.id}/addreading" method="POST">
  <div class="columns">
    <div class="field column">
      <label class="label">Code</label>
      <div class="control">
        <input class="input" placeholder="Code" type="int" name="code">
      </div>
    </div>
    <div class="field column">
      <label class="label">Temperature</label>
      <div class="control">
        <input class="input" placeholder="Temperature" type="float" name="Temp">
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Speed </label>
      <div class="control">
        <input class="input" placeholder="Wind Speed" type="float" name="Wind Speed">
      </div>
    </div>
    <div class="field column">
      <label class="label">Pressure</label>
      <div class="control">
        <input class="input" placeholder="Pressure" type="float" name="Pressure">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-success">Add Reading</button>
    </div>
  </div>